## Importing Modules

In [11]:
import pandas as pd
import numpy as np
import os
import csv

In [42]:
DATA_PATH = os.path.abspath(os.path.join(''))
print(DATA_PATH)
DataFrame_365Days = os.path.join(DATA_PATH, 'DataFrame_365Days.csv')

C:\Users\OmarHamdaoui\Downloads\My files\Work\Git Omar\Split a Dataframe by Chunks

### Reading our file

In [40]:
df = pd.read_csv(DataFrame_365Days,delimiter='\t')

In [41]:
df

     Unnamed: 0          ds             y
0             0  2017-01-01  12915.815951
1             1  2017-01-02  15791.050000
2             2  2017-01-03   9617.710000
3             3  2017-01-04  15224.950000
4             4  2017-01-05  19332.930000
5             5  2017-01-06  18018.870000
6             6  2017-01-07  31977.150000
7             7  2017-01-08  30884.354289
8             8  2017-01-09  13675.120000
9             9  2017-01-10   9143.410000
10           10  2017-01-11  55083.530000
11           11  2017-01-12  31968.430000
12           12  2017-01-13  34346.890000
13           13  2017-01-14  67204.950000
14           14  2017-01-15  12281.300000
15           15  2017-01-16  24911.540000
16           16  2017-01-17  21503.390000
17           17  2017-01-18  19626.510000
18           18  2017-01-19  14405.200000
19           19  2017-01-20  19759.350000
20           20  2017-01-21  49319.310000
21           21  2017-01-22  38503.611272
22           22  2017-01-23  13617.760000
23           23  2017-01-24  13529.770000
24           24  2017-01-25  16083.440000
25           25  2017-01-26  13768.200000
26           26  2017-01-27  17360.650000
27           27  2017-01-28  43779.420000
28           28  2017-01-29  39333.710022
29           29  2017-01-30  19415.230000
..          ...         ...           ...
335         335  2017-12-02  38347.130000
336         336  2017-12-03     30.000000
337         337  2017-12-04  19669.320000
338         338  2017-12-05  14487.430000
339         339  2017-12-06  17218.600000
340         340  2017-12-07  17345.180000
341         341  2017-12-08  21006.550000
342         342  2017-12-09  34687.740000
343         343  2017-12-10   9292.980000
344         344  2017-12-11  15822.650000
345         345  2017-12-12  18425.810000
346         346  2017-12-13  17803.550000
347         347  2017-12-14  13630.320000
348         348  2017-12-15  15659.560000
349         349  2017-12-16  34190.110000
350         350  2017-12-17   8634.010000
351         351  2017-12-18  17927.380000
352         352  2017-12-19  17489.770000
353         353  2017-12-20  30603.300000
354         354  2017-12-21  19553.370000
355         355  2017-12-22  21244.980000
356         356  2017-12-23  29671.030000
357         357  2017-12-24   5285.300000
358         358  2017-12-25   8234.985862
359         359  2017-12-26  23020.700000
360         360  2017-12-27  21521.120000
361         361  2017-12-28  23587.060000
362         362  2017-12-29  22953.440000
363         363  2017-12-30  23237.980000
364         364  2017-12-31   6047.781229

[365 rows x 3 columns]

### Spliting the DataFram into Chunks

#### Split a DataFrame into chunks (with equal pieces by removing the pieces that do not contain the same size as the others)
it's a CSV file that contains two columns and 365 rows, so we are going to split this DataFrame into chunks "15 rows per Chunk" and each peace will be equal to all the others pieces, the last chunk will be verified if it's equal to all the chunk, if it's not it will be droped, but you can use the "else" condition to conserve it and to get another chunks that will not equal the others chunks or pieces.

In [43]:
max_rows = 15
df_divided = []
while len(df) > max_rows:
    top = df[:max_rows]
    df_divided.append(top)
    df = df[max_rows:]
''' else:
    validation_div.append(validation_df)'''

' else:\n    validation_div.append(validation_df)'

In [70]:
#length of the DataFrame_365Days
print("length is ",len(df_divided))
print("..................................................................")
#to print just the values of the columns 'y'
for i in df_divided:
    k=i['y'].values
    print(k)

length is  24
..................................................................
[12915.81595128 15791.05        9617.71       15224.95
 19332.93       18018.87       31977.15       30884.35428874
 13675.12        9143.41       55083.53       31968.43
 34346.89       67204.95       12281.3       ]
[24911.54       21503.39       19626.51       14405.2
 19759.35       49319.31       38503.61127152 13617.76
 13529.77       16083.44       13768.2        17360.65
 43779.42       39333.71002217 19415.23      ]
[ 1.435269e+04  1.948826e+04  1.997196e+04  1.915055e+04  4.552107e+04
  3.000000e+01  1.611573e+04  1.680205e+04  1.887341e+04  1.840210e+04
  1.926343e+04  4.341628e+04 -3.588400e+02  2.326201e+04  1.473098e+04]
[17025.29       15069.83       17514.91       44709.45
   240.         17689.34       18629.46       15355.92
 14934.42       18751.08       41101.94       37177.23533881
 19540.4        13916.92       17680.52      ]
[1.746160e+04 2.029076e+04 3.868262e+04 1.080000e+03 1.547584e+04
 1.550147e+04 1.754955e+04 1.505980e+04 1.882076e+04 4.993438e+04
 3.000000e+01 1.972796e+04 1.652798e+04 1.900153e+04 2.144527e+04]
[21112.17       44801.38       37940.75300211 16551.13
 13349.02       22070.7        16529.91       12808.69
 46700.53       41335.77703893 16972.32       13637.06
 18097.44       18766.18       17195.64      ]
[49737.75       45904.05914637 23022.31       17901.6
 21559.85       24936.96       25051.77       40618.11
 39487.43510019 27814.41       23345.58       27428.98
 24626.78       28113.56       46948.2       ]
[31679.34421305 12242.65       21642.63       21722.14
 18018.16       21026.71       37583.9        34526.00934312
 19792.1        12769.69       17170.83       17737.78
 22636.69       37314.76       36837.51985416]
[2.53646691e+04 1.68392800e+04 1.95527300e+04 2.01711100e+04
 2.34271900e+04 5.15568300e+04 3.00000000e+01 1.80722700e+04
 1.84473800e+04 2.24147200e+04 1.90382700e+04 2.22898100e+04
 3.84678400e+04 3.00000000e+01 2.28601100e+04]
[16739.9        27070.35       20260.48       20963.54
 41603.94       40902.8268331  25829.51       17970.83
 22230.41       20521.43       40225.93       32921.34
 24431.87932498 21293.04       19633.65      ]
[2.22602700e+04 2.52034100e+04 2.15211600e+04 4.98194000e+04
 4.39466514e+04 2.25189000e+04 2.15191200e+04 2.56050000e+04
 2.28693200e+04 2.27741200e+04 3.38685700e+04 3.00000000e+01
 1.78183900e+04 2.04970700e+04 1.95767600e+04]
[17611.21       15406.85       32660.84       30453.03472957
 16843.32       13630.22       21312.7        18063.62
 20546.28       34521.59       30805.69139614 17784.24
 17453.65       37645.06       29884.96      ]
[26097.51       57379.04        8450.24       31575.84
 21724.63       26392.         22950.69       23144.82
 44886.78       44914.23567892 30710.04       23113.71
 23713.95       22882.51       20329.61      ]
[36953.46       31560.4481985  19521.33       23723.9
 25252.43       23784.04       25522.93       34953.31
 30699.72941185 22740.85       24766.66       26370.38
 21642.14       21055.24       33132.16      ]
[29137.08072303 21842.59       25657.24       22196.49
 25902.03       20047.48       31949.7        35285.51464471
 32157.25       31784.92       26707.7        24347.3
 31063.81       32465.43       36215.43165273]
[29630.79       11794.41       24316.94       22065.76
 28746.9        30373.55       31337.82667615 30673.6
 24786.17       21553.87       34498.17       29151.82
 35819.2        36707.72778146 30504.        ]
[24821.47      25851.99      30900.84      28576.75      51070.32
  1304.14      31919.29      19420.44      29433.33      24844.33
 28061.11      60050.3       51201.4524545 24985.52      21704.32     ]
[26213.35       20794.27       27063.09       60906.8
 54082.38198233 27140.38       20149.08       27036.24
 20535.39       22562.18       51324.77       43475.35901235
 19549.28       16377.46       23486.91      ]
[2.04735500e+04 1.97538900e+04 4.74808100e+04 3.00000000e+01
 2.07966200e+04 2.15976300e+04 2.39223800e+04 1.95608700e+04
 2.64706400e+04 5.34052900e+04 4.57186511e+04 2.26882600e+04
 1.69822500e+04 1.97501200e+04 1.81177900e+04]
[21575.28       44712.56       37225.52984538 18228.6
 18066.68       21624.58       17103.44       20251.03
 48696.13       47469.11517819 26488.58       15289.36
 21295.56       19792.96       24589.4       ]
[41665.6        41163.54499871 28914.8        21036.67
 23057.03       23757.3        27038.21       43329.34
 34161.04341942 18255.79       21637.23       27236.8
 22735.55       22738.69       50587.97      ]
[4.28899575e+04 1.99016400e+04 1.63141800e+04 1.61024300e+04
 1.55660800e+04 2.36161800e+04 4.16903900e+04 3.58447633e+04
 1.89046300e+04 1.32472200e+04 1.52546500e+04 1.36020800e+04
 3.92225300e+04 5.23887300e+04 3.00000000e+01]
[1.344002e+04 1.170016e+04 1.954276e+04 1.442462e+04 1.941942e+04
 3.834713e+04 3.000000e+01 1.966932e+04 1.448743e+04 1.721860e+04
 1.734518e+04 2.100655e+04 3.468774e+04 9.292980e+03 1.582265e+04]
[18425.81       17803.55       13630.32       15659.56
 34190.11        8634.01       17927.38       17489.77
 30603.3        19553.37       21244.98       29671.03
  5285.3         8234.98586162 23020.7       ]

#### the DataFrame was divided into 24 chunks to choose a chunks you can use df_divided[number_your_chunk]

In [53]:
#example
df_divided[1]
#you can see 15 rows

    Unnamed: 0          ds             y
15          15  2017-01-16  24911.540000
16          16  2017-01-17  21503.390000
17          17  2017-01-18  19626.510000
18          18  2017-01-19  14405.200000
19          19  2017-01-20  19759.350000
20          20  2017-01-21  49319.310000
21          21  2017-01-22  38503.611272
22          22  2017-01-23  13617.760000
23          23  2017-01-24  13529.770000
24          24  2017-01-25  16083.440000
25          25  2017-01-26  13768.200000
26          26  2017-01-27  17360.650000
27          27  2017-01-28  43779.420000
28          28  2017-01-29  39333.710022
29          29  2017-01-30  19415.230000